$size1: 8em;
$size2:3.5em;
$size3:3em;
$size4:2em;
$size5: 1.5em;
$size6:1em;

ion-content{
  --ion-font-family:  'Gloria Hallelujah', cursive;

}

ion-header{
  --ion-text-color: #fff;
}

ion-content{
 
 --background: url("https://images.unsplash.com/photo-1532020127575-168825222853?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JlZW4lMjBvY2VhbnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
   background-position:bottom ;
 --ion-text-color:#b1ff0a;
}



.main{
  display: block;
  text-align: center;
}

.city{
  display: block;
  font-size: $size3;
  font-weight: bold;
  padding-top: 0.2em;
}

.date{
  display: block;
font-size: $size5;
font-weight: bold;

}

.description{
  display: block;
  font-size: $size3;
  font-weight: bold;
}

.temperature{
  font-size: $size1;
  display: block;
}

.ion-grid{
  text-align: center;
  position: fixed;
  bottom: 0%;
  margin: 10 auto;

}

.icon{
  display: block;
  font-size: $size4;
  padding-top: 12px;
 
}

.day{
  display: block;
  font-weight: bold;
}

.precipitation{
  display: block;
}

.icon-sm{
  display: block;
}
 .icon-sm{
  display: block;
 }

 .lo-sm{
  display: block;
 }

 .hi-sm{
  display: block;
 }

ion-searchbar{
  top: 5pt;
  color: #fff;
  bottom: 0pt;
}

ion-item{
  color:darkgreen;
  font-size: large;
  
}

